body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #212A3E;
}

body h1 {
    text-align: center;
    margin-top: 50px;
    color: white;
    margin-bottom: 100px;
}

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 50px auto;
    padding: 0 20px;
}

.timeline:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 2px;
    background-color: #ccc;
    transform: translateX(-50%);
}

.timeline-item {
    position: relative;
    margin: 50px 0;
}

.timeline-item-content {
    position: relative;
    max-width: 400px;
    padding: 20px;
    background-color: #f1f1f1;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #FFFFFF;
}

.timeline-item-content h2 {
    margin-top: 0;
    color: #de543e;
}

.timeline-item-content p {
    margin-bottom: 0;
    color: #4a7578;
}

.timeline-item-content:before {
    content: "";
    position: absolute;
    top: 20px;
    left: 100%;
    transform: rotate(180deg);
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #FFFFFF;
}


.direita .timeline-item-content {
    position: relative;
    left: calc(100% - 430px);
    max-width: 400px;
    padding: 20px;
    background-color: #f1f1f1;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #FFFFFF;
}

.direita .timeline-item-content:before{
    content: "";
    position: absolute;
    top: 20px;
    left: -9px;
    transform: rotate(360deg);
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #FFFFFF;
}